#top {
    -fx-font-family: "Segoe UI", system-ui, sans-serif;
    -fx-background-color: rgb(25, 35, 80);
}

.label {
    -fx-text-fill: rgb(230, 230, 240);
}


.menu-bar {
    -fx-background-color: rgba(0, 0, 0,0.2);
}

.menu-bar .label {
    -fx-text-fill: rgb(230, 230, 240);
    -fx-font-weight: bold;
}

.menu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.context-menu {
    -fx-background-color: rgb(35, 45, 90);
    -fx-border-color: rgb(255, 255, 255);
    -fx-border-width: 1px;
}


.menu-item .label {
    -fx-text-fill: rgb(230, 230, 240);
}

.menu-item:focused {
    -fx-background-color: rgb(0, 70, 255); /* Nền xanh sáng mờ */
}

#bottom {
    -fx-background-color: rgb(25, 35, 80);
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 1px;
}

#bottom .label {
    -fx-font-size: 12px;
}

#lblTrangThai {
    -fx-text-fill: rgb(60, 200, 150);
    -fx-font-weight: bold;
}

/* Nút "Đăng xuất" */
#btnDangXuat {
    -fx-background-color: rgb(80, 90, 140);
    -fx-text-fill: rgb(230, 230, 240);
    -fx-background-radius: 4px;
    -fx-font-size: 11px;
    -fx-cursor: hand;
}

#btnDangXuat:hover {
    -fx-background-color: rgb(110, 120, 170);
}
#centerPane {
    -fx-background-image: url("../image/anhNen.jpg");
    -fx-background-size: cover; 
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
